<div *ngFor="let area of question.imageSearch.areaData">
    - {{area.description}} {{area.checked ? '(gefunden)': ''}}
</div>
<img
    #image
    [width]="IMAGE_CONTAINER_MAX_WIDTH"
    [src]="question.imageSearch.imageData"
    [alt]="'picture'"
    usemap="#areaMap">

<map id="map_id" name="areaMap">
    <ng-container *ngFor="let area of question.imageSearch.areaData; let i = index">
        <area [alt]="'area_' + i"
              [shape]="area.shape"
              [coords]="getCordsForArea(area)"
              (click)="areaClicked(area)"
              href="javascript:;">
    </ng-container>
</map>
