<div class="quiz">
    <h2 class="text-center">QUIZ-RPG</h2>
    <hr/>
    <div class="container-border container">
        <div class="col-xs-12 mt-3" *ngIf="isUsernameStep()">
            <ngb-alert [type]="'warning'" *ngIf="showWarning" (close)="showWarning = false">
                Bitte einen Benutzernamen mit 3 oder mehr Buchstaben angeben
            </ngb-alert>
            <ngb-alert [type]="'danger'" *ngIf="showUsernameError" (close)="showUsernameError = false">
                Der angegebene Benutzername ist nicht mehr verfügbar
            </ngb-alert>
            <h3>Benutzername angeben</h3>
            <input class="w-100" type="text" [(ngModel)]="username" [placeholder]="'Benutzername...'">
            <div class="mt-2">
                <button class="btn btn-primary w-100" (click)="progressQuiz()">Anmelden</button>
            </div>
        </div>
        <div class="col-xs-12 mt-3" *ngIf="isLobbySelectionStep()">
            <ngb-alert [type]="'warning'" *ngIf="showWarning" (close)="showWarning = false">
                Bitte eine Lobby angeben
            </ngb-alert>
            <ngb-alert [type]="'danger'" *ngIf="showLobbyError" (close)="showUsernameError = showLobbyError">
                Die Lobby ist nicht mehr verfügbar oder befindet sich noch im Spiel
            </ngb-alert>
            <h3>Lobby auswählen</h3>
            <input class="w-100" type="text" [disabled]="lobbySetByPath" [(ngModel)]="lobby" [placeholder]="'Lobby...'">
            <div class="mt-2">
                <button class="btn btn-primary w-100" (click)="progressQuiz()">Lobby beitreten</button>
            </div>
        </div>
        <div class="col-xs-12 mt-3" *ngIf="isWaitForStart()">
            <ngb-alert [type]="'info'" *ngIf="!timeUntilStartInMs && pingInMs !== -1" [dismissible]="false">
                <div class="text-center">Warte auf Host</div>
                <div class="text-center" *ngIf="pingInMs">({{pingInMs}}ms)</div>
            </ngb-alert>
            <ngb-alert [type]="'warning'" *ngIf="pingInMs > 1500" [dismissible]="false">
                Schlechte Internet-Verbindung, es könnte zu Problemen beim Spielablauf kommen.
            </ngb-alert>
            <ngb-alert [type]="'danger'" *ngIf="pingInMs === -1" [dismissible]="false">
                Verbindung zum Server verloren, versuchen Sie einen erneuten Spielbeitritt.
            </ngb-alert>
            <ngb-alert [type]="'success'" *ngIf="timeUntilStartInMs && timeUntilStartInMs <= 5000"
                       [dismissible]="false">
                <div class="text-center"><strong>{{waitTime}}</strong></div>
            </ngb-alert>
            <ul class="list-group mb-1" *ngIf="players">
                <li class="list-group-item" *ngFor="let player of players">{{player}}</li>
            </ul>
            <button class="btn btn-secondary mt-3 w-100" (click)="quitLobby()">Lobby verlassen</button>
        </div>
        <div class="col-xs-12 mt-3" *ngIf="isQuizStep()">
            <app-question
                    [userToken]="userToken"
                    [lobby]="lobby"
                    [question]="getCurrentQuestion()"
                    (questionCorrect)="validateQuiz()"></app-question>
        </div>
        <div class="col-xs-12 mt-3" *ngIf="isEndLobbyStep()">
            <ngb-alert [type]="'success'" [dismissible]="false">
                <strong>Glückwunsch!</strong>
                <div>
                    Wenn du das hier als Erfolg für dich wertest!
                </div>
            </ngb-alert>
            <h5>Standings</h5>
            <ul class="list-group mb-1" *ngIf="endGameStats && endGameStats.gameStats">
                <li class="list-group-item" *ngFor="let stat of endGameStats.gameStats; let i = index">{{i + 1}}
                    . {{stat.username}}</li>
            </ul>
            <button class="btn btn-secondary w-100 mt-2" (click)="progressQuiz()">Spiel verlassen</button>
        </div>
        <ng-container *ngIf="!isQuizStep()">
            <hr>
            <span >Version: 3.2.1</span>
        </ng-container>
    </div>
</div>




