<div class="question-container" *ngIf="question">
	<h5><span [innerHtml]="question.title"></span></h5>
	<img
			class="text-center mb-2"
			*ngIf="question.searchedImage && question.searchedImage.imageData"
			[src]="question.searchedImage.imageData"
			[alt]="'searched picture'">
	<ng-container *ngIf="isImageSearch()">
		<div *ngFor="let area of question.imageSearch.areaData">
			- {{area.description}} {{area.checked ? '(gefunden)': ''}}
		</div>
	</ng-container>
	<div class="content" *ngFor="let option of question.options; index as i">
		<ng-container *ngIf="isCheckboxType()">
			<label class="btn btn-info w-100 text-left" for="question_{{i}}">
				<input type="checkbox" id="question_{{i}}" [(ngModel)]="option.checked">
				{{option.text}}
			</label>
		</ng-container>
		<ng-container *ngIf="isRadioType()">
			<button class="btn btn-info w-100 mt-2" (click)="checkRadioOption(option)">
				{{option.text}}
			</button>
		</ng-container>
	</div>
	<ng-container *ngIf="isImageSearch()">
		<div clas="responsive">
			<img
                #image
				[width]="IMAGE_CONTAINER_MAX_WIDTH"
				[src]="question.imageSearch.imageData"
				[alt]="'picture'"
				usemap="#areaMap">
		</div>

		<map id="map_id" name="areaMap">
			<ng-container *ngFor="let area of question.imageSearch.areaData; let i = index">
				<area [alt]="'area_' + i"
					  [shape]="area.shape"
					  [coords]="getCordsForArea(area)"
					  (click)="areaClicked(area)" href="#">
			</ng-container>
		</map>
		<button class="btn btn-secondary mt-2 w-100"
				[disabled]="!skippingImageSearchPossible"
				(click)="skipImageSerch()">
			Frage überspringen {{timeRemainingForSkip > 0 ? '(' + timeRemainingForSkip + ')': ''}}
		</button>
	</ng-container>
	<button class="btn btn-primary w-100" [disabled]="errorPenalty" *ngIf="isCheckboxType()" (click)="checkCheckboxOptions()">
		Antwort abgeben
	</button>
	<ngb-alert class="overlay-hint" [type]="'danger'" *ngIf="errorPenalty" [dismissible]="false">
		<h3>
			Falsche Antwort!
		</h3>
		<div class="mt-3">
			Noch <strong>{{seconds}}</strong> {{seconds === 1 ? 'Sekunde': 'Sekunden'}} warten!
		</div>
		<div class="mt-3" *ngIf="question.wrongAnswerHint && !wrongAnswerSpecial">
			<span [innerHTML]="question.wrongAnswerHint"></span>
		</div>
		<div class="mt-3" *ngIf="wrongAnswerSpecial">
			<span [innerHTML]="wrongAnswerSpecial"></span>
		</div>
	</ngb-alert>
	<ngb-alert class="overlay-hint" *ngIf="showRightAnswersHint" [type]="'success'" [dismissible]="false">
		<span [innerHTML]="question.rigthAnswerSequel"></span>
	</ngb-alert>
</div>
