<div class="question-container" *ngIf="question">
    <h5>{{question.title}}</h5>
	<img
		 class="text-center mb-2"
		 *ngIf="question.searchedImage && question.searchedImage.imageData"
		 [src]="question.searchedImage.imageData"
		 [width]="question.searchedImage.width"
		 [alt]="'searched picture'">
	<ng-container *ngIf="isImageSearch()">
		<div *ngFor="let area of question.imageSearch.areaData">
			- {{area.description}} {{area.checked ? '(gefunden)': ''}}
		</div>
	</ng-container>
    <div class="content" *ngFor="let option of question.options; index as i">
        <ng-container *ngIf="isCheckboxType()">
            <label for="question_{{i}}">
                <input type="checkbox" id="question_{{i}}" [(ngModel)]="option.checked">
                {{option.text}}
            </label>
        </ng-container>
        <ng-container *ngIf="isRadioType()">
          <button class="btn btn-info w-100 mt-2" (click)="checkRadioOption(option)">
              {{option.text}}
          </button>
        </ng-container>
    </div>
	<ng-container *ngIf="isImageSearch()">
		<div clas="responsive">
			<img
					#image
					[width]="question.imageSearch.width"
					[height]="question.imageSearch.height"
					[src]="question.imageSearch.imageData"
					[alt]="'picture'"
					usemap="#areaMap"
					(click)="coords($event)">
		</div>

		<map id="map_id" name="areaMap">
			<ng-container *ngFor="let area of question.imageSearch.areaData; let i = index">
				<area id="area_{{area.description}}" [alt]="'area_' + i" [shape]="area.shape" [coords]="getCordsForArea(area)" (click)="areaClicked(area, $event)" href="#">
			</ng-container>
		</map>
    <button (click)="questionAnsweredCorrectly()">Frage überspringen</button>
	</ng-container>
    <button *ngIf="isCheckboxType()" (click)="checkCheckboxOptions()">
        Antwort abgeben
    </button>
	<ngb-alert class="mt-2" [type]="'danger'" *ngIf="errorPenalty" [dismissible]="false">
		<h3>
			Falsche Antwort!
		</h3>
		<div class="mt-3">
			Noch <strong>{{seconds}}</strong> {{seconds === 1 ? 'Sekunde': 'Sekunden'}} warten!
		</div>
		<div class="mt-3" *ngIf="question.wrongAnswerHint">
			{{question.wrongAnswerHint}}
		</div>
	</ngb-alert>
</div>
