<h5>Frage {{isNewQuestion ? 'erstellen' : 'bearbeiten'}}</h5>
<div class="" *ngIf="question">
	<div class="w-48 right">
		<h5>Fragentyp</h5>
		<div ngbDropdown class="w-100" *ngIf="questionTypeOptions">
			<button class="btn btn-outline-secondary w-100" ngbDropdownToggle>{{selectedQuestionTypeOption.displayValue}}</button>
			<div ngbDropdownMenu aria-labelledby="Fragentyp">
				<button ngbDropdownItem *ngFor="let questionTypeOption of questionTypeOptions"
						(click)="selectQuestionType(questionTypeOption)">
					{{questionTypeOption.displayValue}}
				</button>
			</div>
		</div>
	</div>
	<div class="w-48">
		<h5>Frage</h5>
		<input class="w-100" type="text" [(ngModel)]="question.title" [required]="true" [placeholder]="'Frage...'">
	</div>
	<div class="clearfix mt-3">
		<div class="w-48 right">
			<h5>Meldung bei richtiger Antwort</h5>
			<ngb-alert [type]="'success'" [dismissible]="false">
				<div>
					<textarea class="ml-2 w-100"  [(ngModel)]="question.rigthAnswerSequel" [placeholder]="'Meldung...'"></textarea>
				</div>
				<div>
					<strong>Anzeigedauer:</strong> <input class="ml-2" type="number" [(ngModel)]="question.rightAnswerScreenTime" step="1" [min]="0">
				</div>
			</ngb-alert>
			<h5>Standardmeldung bei falscher Antwort</h5>
			<ngb-alert [type]="'danger'"  [dismissible]="false">
				<div>
					<textarea class="ml-2 w-100" [(ngModel)]="question.wrongAnswerHint" [placeholder]="'Meldung...'"></textarea>
				</div>
				<div>
					<strong>Anzeigedauer:</strong> <input class="ml-2" type="number" [(ngModel)]="question.wrongAnswerPenalty" step="1" [min]="3">
				</div>
			</ngb-alert>
		</div>
		<div class="w-48">
			<div *ngIf="isRadio() || isCheckbox()">
                <app-radio-and-checkbox-editor
                    [question]="question">
                </app-radio-and-checkbox-editor>
			</div>
			<div *ngIf="isImageSearch()">
                <app-image-search-editor
                    [question]="question">
                </app-image-search-editor>
			</div>
            <div *ngIf="isDragAndDrop()">
                <app-drag-and-drop-editor
                        [question]="question">
                </app-drag-and-drop-editor>
            </div>

			<div *ngIf="isAlPacoRace()">
				<app-al-paco-race
						[question]="question">
				</app-al-paco-race>
			</div>
		</div>
		<hr class="clearfix">
		<div class="w-100">
			<ngb-alert [type]="'danger'" *ngIf="errorsWithQuestion && errorsWithQuestion.length > 0" [dismissible]="false">
				<h5>Frage kann nicht hinzugefügt werden!</h5>
				<div>
					<strong>Bitte stellen Sie sicher dass:</strong>
				</div>
				<ul>
					<li *ngFor="let error of errorsWithQuestion">
						{{getDisplayValueForError(error)}}
					</li>
				</ul>
			</ngb-alert>
			<button class="btn btn-primary w-100" (click)="validateQuestionAndSubmit()">
                <ng-container *ngIf="isNewQuestion">
                    Frage zu Quiz hinzufügen
                </ng-container>
                <ng-container *ngIf="!isNewQuestion">
                    Speichern
                </ng-container>
            </button>
		</div>
	</div>
</div>
