<h5>Antworten</h5>
<ngb-alert [type]="'warning'" *ngIf="isCheckbox()" [dismissible]="false">
    <div class="text-center">Alle richtigen Antworten müssen vom Spieler angehakt werden damit die Frage
        richtig beantwortet ist
    </div>
</ngb-alert>
<ngb-alert [type]="'warning'" *ngIf="isRadio()" [dismissible]="false">
    <div class="text-center">Eine richtige Antwort muss vom Spieler angeklickt werden damit die Frage
        richtig beantwortet ist
    </div>
</ngb-alert>
<div class="content" *ngFor="let option of question.options; index as i">
    <label class="btn btn-info w-100 text-left" for="question_{{i}}">
        <input type="checkbox" id="question_{{i}}" [(ngModel)]="option.correct">
        <input class="w-90 ml-2" type="text" [(ngModel)]="option.text" [placeholder]="'Antwort...'">
        <button class="btn btn-secondary right pl-1 pr-1 pt-0 pb-0" (click)="deleteAnswerOption(i)">X</button>
    </label>
    <input class="ml-5 w-90 mb-2" type="text" *ngIf="!option.correct" [(ngModel)]="option.wrongAnswerHint"
           [placeholder]="'Falsche Antwort => Hinweis für Spieler...'">
</div>
<button class="btn btn-primary w-100" (click)="addQuestionAnswerOption()">Neue Antwortoption hinzufügen</button>
