.container-border {
  max-width: 450px !important;

  &__wide {
    max-width: 800px
  }
}

.drag-drop-edit-item {
    width: 100% !important;
    max-width:420px !important;
}

.margin-auto {
    margin: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.max-width {
  max-width: 100%;
}

.game-status-panel {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;

  .show-details-link {
    float: right;
    cursor: pointer;
    color: blue;
  }
}

.image-search-creator {
  &__rect {
    border: 3px solid blue;
    position: absolute;
    border-radius: 0;
  }

  &__circle {
    border: 3px solid blue;
    position: absolute;
    border-radius: 50%;
  }
}

.border-red {
  border-color: red;
}

.image-search-creator-container {
  position: relative;
  max-width: 420px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.question-container {
  position: relative;
}

.overlay-hint {
  z-index: 2;
  position: absolute !important;
  margin: -0.2rem !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.clearfix {
  clear: both;
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: 420px;
  cursor: pointer;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@media (min-width: 800px) {
  .quiz {
    //zoom: 1.2;
  }
}


$widths: ('0', '10', '20', '25', '30', '40', '45', '48', '50', '60', '70', '75', '80', '90', '100');

@each $width in $widths {
  .w-#{$width} {
    width: #{$width}#{unquote('%')} !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
