.container-border {
    max-width: 450px !important;
}

.text-center {
    text-align: center;
}

.max-width {
    max-width: 100%;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@media (min-width: 800px) {
    body {
        zoom: 1.25;
    }
}


$widths: ('0', '10', '20', '25', '30', '40', '50', '60', '70', '75', '80', '90', '100');

@each $width in $widths {
    .w-#{$width} {
        width: #{$width}#{unquote('%')} !important;
    }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
