<div class="check-in-and-out-container" *ngIf="!this.showQuestion">
    <img [src]="city" height="300px" width="100%" style="bottom: 0">
    <img [src]="hotel" height="150px" width="6%" style="bottom: 0; right: 0;position: absolute; z-index: 50;" >
    <div [@check-in]="checkInQueue.length"
         (@check-in.done)="checkedIn($event)">
        <div *ngFor="let item of checkInQueue; let i = index" style="width: 100%; height: 300px; position: absolute; left: 0; right: 0; top: 0;">
            <img [src]="getRunningImage(i, true)" style="width: 50px; height: 50px;bottom: 0; position: absolute;"/>
        </div>
    </div>

    <div [@check-out]="checkOutQueue.length"
         (@check-out.done)="checkedOut($event)">
        <div *ngFor="let item of checkOutQueue; let i = index" style="width: 100%; height: 300px; position: absolute; left: 0; right: 0; top: 0;">
            <img [src]="getRunningImage(i, false)" style="width: 50px; height: 50px;bottom: 0; position: absolute;"/>
        </div>
    </div>
</div>
<app-simple-question
        *ngIf="showQuestion"
        [lobby]="lobby"
        [userToken]="userToken"
        [errorPenalty]="errorPenalty"
        [question]="question"
        (questionAnsweredCorrectly)="questionAnsweredCorrectly.emit()"
        (questionAnsweredFalse)="questionAnsweredFalse.emit($event)">
</app-simple-question>
<div style="margin-top: 100px">
    &nbsp;
</div>
<ngb-alert class="overlay-hint" *ngIf="showIntro" [type]="'info'" [dismissible]="false">
    <div class="text-center" [innerHTML]="question.intro">
    </div>
    <div class="text-center mt-3">
        <div *ngIf="timeInSecondsTillStart <= 10">
            <div>
                <strong>Sei bereit!</strong>
            </div>
            <div>Es geht los in</div>
            <div>
                <h4>{{timeInSecondsTillStart}}</h4>
            </div>
        </div>
    </div>
</ngb-alert>



